
/* horizontalrule */
.tx-hr-border-1 { height: 1px; border-top: 1px solid #666; border-bottom: 0px none; border-left: 0px none; border-right: 0px none; display: block;}
.tx-hr-border-2 { height: 7px; border-top: 1px solid #666; border-bottom: 3px solid #666; border-left: 0px none; border-right: 0px none; display: block;}
.tx-hr-border-3 { height: 1px; border-top: 1px dotted #666; border-bottom: 0px none; border-left: 0px none; border-right: 0px none; display: block;}

div.tx-hr-image-1 { border: 0pt none; height: 15px; background:url(/daumeditor/images/deco/line03.gif?rv=1.0.1) repeat-x scroll left; width:99%;}
div.tx-hr-image-1 hr { position:relative; top: -999px; left: -999px; border: 0pt none; }

div.tx-hr-image-2 { border: 0pt none; height: 15px; background:url(/daumeditor/images/deco/line05.gif?rv=1.0.1) repeat-x scroll left; width:99%;}
div.tx-hr-image-2 hr { position:relative; top: -999px; left: -999px; border: 0pt none; }

div.tx-hr-image-3 { border: 0pt none; height: 15px; background:url(/daumeditor/images/deco/line06.gif?rv=1.0.1) repeat-x scroll left; width:99%;}
div.tx-hr-image-3 hr { position:relative; top: -999px; left: -999px; border: 0pt none; }

div.tx-hr-image-4 { border: 0pt none; height: 15px; background:url(/daumeditor/images/deco/line08.gif?rv=1.0.1) no-repeat scroll center; width:99%;}
div.tx-hr-image-4 hr { position:relative; top: -999px; left: -999px; border: 0pt none; }
