
/* canvas */
.tx-canvas { clear:both; border-top:1px solid #b5b5b5;border-left:1px solid #cdcdcd; border-right:1px solid #cdcdcd; position:relative; font-size:0px; }
.tx-canvas-notice{ width:100%; height:300px; z-index:200000; position:absolute; color:#000000;font-size:15px;}
.tx-canvas-notice span{ vertical-align:middle;margin-top:150px;  }
.tx-canvas-notice a{ text-decoration:underline; margin-top:150px; cursor: pointer}
.tx-daumtrans { position:absolute; top:-1000px; left:-1000px; }
.tx-canvas .tx-holder { display:none;font-size:0px !important; }


.tx-canvas iframe {
	width:100%; height:400px;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-arrow-color:#9f9f9f;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-face-color:#e6e6e6;
	scrollbar-highlight-color:#c3c3c3;
	scrollbar-shadow-color:#c3c3c3;
	scrollbar-track-color:#F3F3F3; 
}

.tx-canvas textarea {
	width:100%; height:398px;
	overflow:auto;
	border: medium none; 
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-arrow-color:#9f9f9f;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-face-color:#e6e6e6;
	scrollbar-highlight-color:#c3c3c3;
	scrollbar-shadow-color:#c3c3c3;
	scrollbar-track-color:#F3F3F3; 
	background:#fff;
	padding: 0px; font-family:'돋움',dotum; font-size:12px; line-height:1.6;
}

#tx_canvas_wysiwyg_holder div.tx-wysiwyg-padding { height:400px; width:0px; left:0px; position:absolute; top:0px; opacity:0.3; filter:alpha(opacity=30); overflow:hidden; }
#tx_canvas_wysiwyg_holder div.tx-wysiwyg-padding-divL { float: right; width: 28px; height:28px; margin-top: 5px; margin-right: 2px; }
#tx_canvas_wysiwyg_holder div.tx-wysiwyg-padding-divR { float: left; width: 28px; height:28px; margin-top: 5px; margin-left: 2px;}
#tx_canvas_wysiwyg_holder div.tx-wysiwyg-padding-divL { margin-right: 0px; }
#tx_canvas_wysiwyg_holder div.tx-wysiwyg-padding-divR { margin-left: 0px;}

ul.tx-bar-vline-left {
	background:transparent url(/daumeditor/images/icon/index03.gif?rv=1.0.4) no-repeat scroll left 9px;
	margin:0 0 0 5px; padding:0 0 0 6px;
}

ul.tx-bar-vline-right {
	background:transparent url(/daumeditor/images/icon/index03.gif?rv=1.0.4) no-repeat scroll right 9px;
	margin:0 6px 0 3px; padding:0 5px 0 0;
}