
.tx-editor-container { font-family:'굴림',gulim,tahoma,sans-serif; font-size:12px; line-height:1.5; } 
.tx-editor-container ul, .tx-editor-container li { list-style-image:none; list-style-position:outside; list-style-type:none; margin:0; padding:0; }
.tx-editor-container dl, .tx-editor-container dt, .tx-editor-container dd { margin:0; padding:0; width:auto; float:none;}
.tx-editor-container img { border:none; }

div.tx-loading { 
	position:absolute; z-index:200; width:100%; height:29px; top:0px; left:0px; text-align:center; padding:8px 0 0; font-size:0px;
}
* html .tx-loading div { 
	background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/daumeditor/images/icon/loading2.png?rv=1.0.1', sizingMethod='image'); 
	width:113px; height:21px; 
}
* html .tx-loading img { display:none; }

/* editor BI(for png) */
.tx-side-bi { margin:0 0 5px 0; }
* html .tx-side-bi .tx-side-inner-bi img{
	height:1px;
	width:1px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/daumeditor/images/icon/editor_bi.png?rv=1.0.1');
}
