/* toolbar */

.tx-toolbar { clear:both; background-color:#f8f8f8;border:1px solid #cdcdcd;border-bottom:0px;border-top:0px; height:30px; }
.tx-toolbar-boundary { border:1px solid #fff; padding:0 5px; height:28px; }

.tx-toolbar .tx-bar li {position:relative;z-index:4;}

.tx-toolbar .tx-bar-left { float:left; margin:0 3px 0 0;}
.tx-toolbar .tx-bar-right { float:right; margin:0; }
.tx-toolbar .tx-bar-empty { clear:left; margin:0; }

.tx-toolbar .tx-list { float:left; padding-top:4px; padding-bottom:0px;height:22px; }
.tx-toolbar .tx-separator { float:left; width:4px; height:18px; overflow:hidden; }
.tx-toolbar .tx-list-first, .tx-toolbar .tx-list-last {background-image:none !important;}

.tx-toolbar .tx-disable a { cursor:default; filter:alpha(opacity=30); opacity:0.3; }

.tx-toolbar .tx-bar li a {color:#333;cursor:pointer;display:block;font-family:'돋움',dotum;font-size:11px; text-decoration:none;}

.tx-toolbar-basic { }
.tx-toolbar-basic .tx-toolbar-boundary {}
.tx-toolbar-basic li.tx-list {z-index:5;}

.tx-toolbar-advanced { display:none; }
	
/*#tx_toolbar_basic li {position:relative;z-index:8;}*/

/**
.tx-toolbar-basic .tx-group-font {width: 146px;}
.tx-toolbar-basic .tx-group-align {width: 84px;}
.tx-toolbar-basic .tx-group-tab {width: 42px;}
.tx-toolbar-basic .tx-group-list {width: 62px;}
.tx-toolbar-basic .tx-group-etc {width: 84px;}
.tx-toolbar-basic .tx-group-etc2 {width: 147px;}
.tx-toolbar-basic .tx-group-order {width: 42px;}
.tx-toolbar-basic .tx-group-undo {width: 42px;}
**/