/* advanced */
.tx-advanced a.tx-icon {background-position:-106px -109px;}
.tx-toolbar-basic-open .tx-advanced a.tx-icon {background-position:-126px -110px;}

.tx-toolbar-advanced { border-top:1px solid #e8e8e8; }		
.tx-toolbar-advanced .tx-toolbar-boundary {}
.tx-toolbar-advanced li.tx-list {z-index:4;}

.tx-toolbar-basic-open { }
.tx-toolbar-basic-open ul.tx-bar-left { }
.tx-toolbar-basic-open ul.tx-bar-right { }

