/* extra-drop-down */
.tx-extra-buttons-wrapper {
	position: absolute;
	z-index: 100;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	padding: 0 10px !important;
}
.tx-editor-container .tx-extra-buttons-wrapper li {
	float: none;
	margin: 0;
	padding: 0 8px 0 0;
	border-bottom: 1px solid #f1f1f1;
}
.tx-extra-buttons-wrapper li div a { height:27px;}

.tx-extra-drop-down a.tx-icon {width:12px;}
.tx-extra-drop-down a.tx-icon {background-position:-50px -150px;}
.tx-editor-container .tx-menu-opened a.tx-icon {background-position:-69px -150px;} 

.tx-toolbar-extra-drop-down {display:none;background-color:#f8f8f8;border:1px solid #cdcdcd;border-bottom:0px;border-top:0px;}		
.tx-toolbar-extra-drop-down-boundary {background:#f8f8f8;border:1px solid #fff;border-top:0px;height:28px;}

.tx-toolbar-extra-drop-down .tx-disable a {cursor:default; filter:alpha(opacity=30); opacity:0.3;}