/* media */
.txc-media { border:1px solid #eeeeee; background:#f3f3f3 url(/daumeditor/images/icon/img_multi_icon.gif?rv=1.0.1) no-repeat 50% 50%; }
.txc-media-wmp { border:none; background:#000000 url(/daumeditor/images/icon/img_multi_wmp.gif?rv=1.0.2) no-repeat left bottom; }
.txc-media-tvpot { border:none; background:#000000; }
