/* alignleft */
.tx-alignleft a.tx-icon {background-position:-24px -30px;}
.tx-selected-image .tx-alignleft a.tx-icon {background-position:-83px -129px;}

/* alignright */
.tx-alignright a.tx-icon {background-position:-65px -30px;}
.tx-selected-image .tx-alignright a.tx-icon {background-position:-24px -129px;}

/* aligncenter */
.tx-aligncenter a.tx-icon {background-position:-44px -30px;}
.tx-selected-image .tx-aligncenter a.tx-icon {background-position:-45px -129px;}

/* alignfull */
.tx-alignfull a.tx-icon {background-position:-85px -30px;}
.tx-selected-image .tx-alignfull a.tx-icon {background-position:-65px -129px;}

/* align */
.tx-align a.tx-icon {background-position:-25px -30px;} 

.tx-align a.tx-align-left {background-position:-25px -29px;}
.tx-align a.tx-align-center {background-position:-45px -29px;}
.tx-align a.tx-align-right {background-position:-65px -29px;}
.tx-align a.tx-align-full {background-position:-85px -29px;}