.tx-specialchar a.tx-icon {background-position:-105px -90px;}
/* specialchar */
.tx-specialchar-menu {}
.tx-specialchar-menu div.tx-menu-inner { padding:7px; background:#f9f9f9; }

.tx-specialchar-menu table.tx-menu-matrix-title { margin-top:4px; border-collapse:collapse; }
.tx-specialchar-menu table.tx-menu-matrix-title td {white-space:nowrap; padding: 0px; height: 18px;}
.tx-specialchar-menu table.tx-menu-matrix-title a.tx-menu-matrix-title-item { color:#666; font-family:돋움,dotum; font-size:11px; padding:0 10px 0 5px; background:url(/daumeditor/images/icon/index01.gif?rv=1.0.4) no-repeat 100% 0; cursor:pointer; }
.tx-specialchar-menu table.tx-menu-matrix-title a.tx-menu-matrix-title-item:hover { font-size:11px; text-decoration:none; }
.tx-specialchar-menu table.tx-menu-matrix-title #type1 { padding-left:0; } 
.tx-specialchar-menu table.tx-menu-matrix-title #type4 { background:none; } 
.tx-specialchar-menu table.tx-menu-matrix-title td.tx-selected a.tx-menu-matrix-title-item { color:#333; font-weight:bold; }

.tx-specialchar-menu div.tx-menu-matrix-list { display:none; border-collapse:collapse; margin-top:6px; background:#fff; }
.tx-specialchar-menu div.tx-menu-matrix-list table { border-collapse:collapse; margin-top: 0px;}
.tx-specialchar-menu div.tx-menu-matrix-list td { border:1px solid #e5e5e5; padding:0; height:20px;}
.tx-specialchar-menu div.tx-menu-matrix-list td span { display:block; width:18px; height:14px; text-align:center; color:#333; font-family:'굴림',gulim,tahoma,sans-serif; font-size:12px; line-height:1.4; padding-top:2px; border:2px solid #fff; cursor:pointer; }
.tx-specialchar-menu div.tx-menu-matrix-list td span.tx-item-hovered { color:#333; border:2px solid #768fbd; }

.tx-specialchar-menu table.tx-menu-matrix-input { border-collapse:collapse; margin-top:8px; }
.tx-specialchar-menu table.tx-menu-matrix-input td { white-space:nowrap;padding:0;height:22px; }
.tx-specialchar-menu table.tx-menu-matrix-input td span { color:#333; font-size:11px; font-family:돋움,dotum; padding-right:6px; }
.tx-specialchar-menu table.tx-menu-matrix-input td input { color:#666; width:278px; height:16px; padding:2px 0 1px 2px; border:1px solid #cacaca; }
.tx-specialchar-menu table.tx-menu-matrix-input td .tx-menu-btn-confirm { margin-left:5px; cursor:pointer; }
.tx-specialchar-menu table.tx-menu-matrix-input td .tx-menu-btn-cancel { margin-left:3px; cursor:pointer; }
