/* textbox */
.tx-textbox a.tx-icon {background-position:-44px -110px;}

.tx-textbox-menu { width:159px; }
.tx-textbox-menu div.tx-menu-inner { padding:5px; background:#f9f9f9; }

.tx-textbox-menu div.tx-menu-list { }
.tx-textbox-menu div.tx-menu-list table { border-collapse:collapse; background-image:url(/daumeditor/images/icon/textbox.gif?rv=1.0.1); background-repeat:no-repeat; background-position:-2px -2px;}
*+ html .tx-textbox-menu div.tx-menu-list table { background-position:-1px -1px;}
* html .tx-textbox-menu div.tx-menu-list table { background-position:-1px -1px;}
.tx-textbox-menu div.tx-menu-list td { padding:0; border:1px solid #f9f9f9; }
.tx-textbox-menu div.tx-menu-list td a { float:left;border:1px solid #f9f9f9; }
.tx-textbox-menu div.tx-menu-list td a:hover { border:1px solid #768fbd; } 
.tx-textbox-menu div.tx-menu-list td span { display:block; width:22px; height:22px; text-align:center; color:#333; cursor:pointer; overflow:hidden; text-indent:-100em; }
