/* button */
a.tx-icon {
	background:url(/daumeditor/images/icon/tx_icon.gif?rv=1.0.4);background-repeat:no-repeat;
	width:21px;height:22px; display:block; float:left; 
	font-size:0; line-height:0; overflow:hidden; text-indent:-1000px;
}

.tx-slt-tlbg, .tx-slt-tlbg-hovered, .tx-slt-tlbg-pushed, .tx-slt-tlbg-arrow-hovered, .tx-slt-tlbg-arrow-pushed,
.tx-slt-tbg, .tx-slt-tbg-hovered, .tx-slt-tbg-pushed, .tx-slt-tbg-arrow-hovered, .tx-slt-tbg-arrow-pushed,
.tx-slt-trbg, .tx-slt-trbg-hovered, .tx-slt-trbg-pushed, .tx-slt-trbg-arrow-hovered, .tx-slt-trbg-arrow-pushed,
.tx-slt-lbg, .tx-slt-lbg-hovered, .tx-slt-lbg-pushed, .tx-slt-lbg-arrow-hovered, .tx-slt-lbg-arrow-pushed,
.tx-slt-bg, .tx-slt-bg-hovered, .tx-slt-bg-pushed, .tx-slt-bg-arrow-hovered, .tx-slt-bg-arrow-pushed,
.tx-slt-rbg, .tx-slt-rbg-hovered, .tx-slt-rbg-pushed, .tx-slt-rbg-arrow-hovered, .tx-slt-rbg-arrow-pushed,
.tx-slt-31lbg, .tx-slt-31lbg-hovered, .tx-slt-31lbg-pushed,
.tx-slt-31rbg, .tx-slt-31rbg-hovered, .tx-slt-31rbg-pushed,
.tx-slt-30bg, .tx-slt-30bg-hovered, .tx-slt-30bg-pushed,
.tx-slt-42bg, .tx-slt-42bg-hovered, .tx-slt-42bg-pushed,
.tx-slt-43bg, .tx-slt-43bg-hovered, .tx-slt-43bg-pushed,
.tx-slt-46bg, .tx-slt-46bg-hovered, .tx-slt-46bg-pushed,
.tx-slt-46bg-center, .tx-slt-46bg-center-hovered, .tx-slt-46bg-center-pushed,
.tx-slt-48bg-left, .tx-slt-48bg-left-hovered, .tx-slt-48bg-left-pushed,
.tx-slt-48bg-right, .tx-slt-48bg-right-hovered, .tx-slt-48bg-right-pushed,
.tx-slt-49lbg, .tx-slt-49lbg-hovered, .tx-slt-49lbg-pushed,
.tx-slt-49rbg, .tx-slt-49rbg-hovered, .tx-slt-49rbg-pushed,
.tx-slt-58bg, .tx-slt-58bg-hovered, .tx-slt-58bg-pushed,
.tx-slt-52bg, .tx-slt-52bg-hovered, .tx-slt-52bg-pushed,
.tx-slt-57bg, .tx-slt-57bg-hovered, .tx-slt-57bg-pushed,
.tx-slt-59bg, .tx-slt-59bg-hovered,	.tx-slt-59bg-pushed,
.tx-slt-70bg, .tx-slt-70bg-hovered,	.tx-slt-70bg-pushed,
.tx-slt-71bg, .tx-slt-71bg-hovered,	.tx-slt-71bg-pushed,
.tx-slt-100bg, .tx-slt-100bg-hovered, .tx-slt-100bg-pushed,
.tx-btn-lbg, .tx-btn-lbg-hovered, .tx-btn-lbg-pushed,
.tx-btn-bg, .tx-btn-bg-hovered , .tx-btn-bg-pushed,
.tx-pop-btn-bg, .tx-pop-btn-bg-hovered , .tx-pop-btn-bg-pushed,
.tx-btn-rbg, .tx-btn-rbg-hovered, .tx-btn-rbg-pushed,
.tx-btn-lrbg, .tx-btn-lrbg-hovered, .tx-btn-lrbg-pushed,
.tx-btn-nlrbg, .tx-btn-nlrbg-hovered, .tx-btn-nlrbg-pushed {float:left;background:url(/daumeditor/images/icon/tx_btn.gif?rv=1.0.3);background-repeat:no-repeat;}

.tx-btn-lrbg a, .tx-btn-lrbg-hovered a, .tx-btn-lrbg-pushed a  {width:22px;}
.tx-btn-nlrbg a, .tx-btn-nlrbg-hovered a, .tx-btn-nlrbg-pushed a  {width:12px;}

.tx-slt-30bg a, .tx-slt-30bg-hovered a, .tx-slt-30bg-pushed a {width:30px;}
.tx-slt-31lbg a, .tx-slt-31lbg-hovered a, .tx-slt-31lbg-pushed a {width:31px;}
.tx-slt-31rbg a, .tx-slt-31rbg-hovered a, .tx-slt-31rbg-pushed a {width:31px;}
.tx-slt-42bg a, .tx-slt-42bg-hovered a, .tx-slt-42bg-pushed a {width:42px;}
.tx-slt-43bg a, .tx-slt-43bg-hovered a, .tx-slt-43bg-pushed a {width:43px;}
.tx-slt-46bg a, .tx-slt-46bg-hovered a, .tx-slt-46bg-pushed a {width:46px;}
.tx-slt-46bg-center a, .tx-slt-46bg-center-hovered a, .tx-slt-46bg-center-pushed a {width:46px;}
.tx-slt-48bg-left a, .tx-slt-48bg-left-hovered a, .tx-slt-48bg-left-pushed a {width:48px;}
.tx-slt-48bg-right a, .tx-slt-48bg-right-hovered a, .tx-slt-48bg-right-pushed a {width:48px;}
.tx-slt-49lbg a, .tx-slt-49lbg-hovered a, .tx-slt-49lbg-pushed a {width:49px;}
.tx-slt-49rbg a, .tx-slt-49rbg-hovered a, .tx-slt-49rbg-pushed a {width:49px;}
.tx-slt-58bg a, .tx-slt-58bg-hovered a, .tx-slt-58bg-pushed a {width:58px;}
.tx-slt-52bg a, .tx-slt-52bg-hovered a, .tx-slt-52bg-pushed a {width:52px;}
.tx-slt-57bg a, .tx-slt-57bg-hovered a, .tx-slt-57bg-pushed a {width:57px;}
.tx-slt-59bg a, .tx-slt-59bg-hovered a,	.tx-slt-59bg-pushed a {width:60px;}	
.tx-slt-70bg a, .tx-slt-70bg-hovered a,	.tx-slt-70bg-pushed a {width:70px;}	
.tx-slt-71bg a, .tx-slt-71bg-hovered a,	.tx-slt-71bg-pushed a {width:71px;}	
.tx-slt-100bg a, .tx-slt-100bg-hovered a, .tx-slt-100bg-pushed a {width:100px;}	

.tx-slt-42bg, .tx-slt-42bg-hovered, .tx-slt-42bg-pushed,
.tx-slt-59bg, .tx-slt-59bg-hovered,	.tx-slt-59bg-pushed,
.tx-slt-70bg, .tx-slt-70bg-hovered,	.tx-slt-70bg-pushed,
.tx-slt-100bg, .tx-slt-100bg-hovered, .tx-slt-100bg-pushed {padding:3px 3px 3px 0px;text-indent:5px;}

.tx-slt-tlbg {background-position:-94px 0px;}
	.tx-slt-tlbg-hovered {background-position:-94px -32px;}
	.tx-slt-tlbg-pushed {background-position:-94px -64px;}
	.tx-slt-tlbg-arrow-hovered {background-position:-94px -96px;}
	.tx-slt-tlbg-arrow-pushed {background-position:-94px -128px;}
	
.tx-slt-tbg {background-position:-127px 0px;}
	.tx-slt-tbg-hovered {background-position:-127px -32px;}
	.tx-slt-tbg-pushed {background-position:-127px -64px;}
	.tx-slt-tbg-arrow-hovered {background-position:-127px -96px;}
	.tx-slt-tbg-arrow-pushed {background-position:-127px -128px;}
	
.tx-slt-trbg {background-position:-257px 0px;}
	.tx-slt-trbg-hovered {background-position:-257px -32px;}
	.tx-slt-trbg-pushed {background-position:-257px -64px;}
	.tx-slt-trbg-arrow-hovered {background-position:-257px -96px;}
	.tx-slt-trbg-arrow-pushed {background-position:-257px -128px;}
	
.tx-slt-lbg {background-position:-192px 0px;}
	.tx-slt-lbg-hovered {background-position:-192px -33px;}
	.tx-slt-lbg-pushed {background-position:-192px  -66px;}
	.tx-slt-lbg-arrow-hovered {background-position:-192px -96px;}
	.tx-slt-lbg-arrow-pushed {background-position:-192px -128px;}
	
.tx-slt-bg {background-position:-223px 0px;}
	.tx-slt-bg-hovered {background-position:-223px -33px;}
	.tx-slt-bg-pushed {background-position:-223px  -66px;}
	.tx-slt-bg-arrow-hovered {background-position:-223px -96px;}
	.tx-slt-bg-arrow-pushed {background-position:-223px -128px;}
	
.tx-slt-rbg {background-position:-254px 0px;}
	.tx-slt-rbg-hovered {background-position:-254px -33px;}
	.tx-slt-rbg-pushed {background-position:-254px -66px;}
	.tx-slt-rbg-arrow-hovered {background-position:-254px -96px;}
	.tx-slt-rbg-arrow-pushed {background-position:-254px -128px;}
	
.tx-slt-30bg {background-position:-908px 0px;}
	.tx-slt-30bg-hovered {background-position:-908px -32px;}
	.tx-slt-30bg-pushed {background-position:-908px -64px;}
.tx-slt-31lbg {background-position:-292px 0px;}
	.tx-slt-31lbg-hovered {background-position:-292px -32px;}
	.tx-slt-31lbg-pushed {background-position:-292px -64px;}
.tx-slt-31rbg {background-position:-323px 0px;}
	.tx-slt-31rbg-hovered {background-position:-323px -32px;}
	.tx-slt-31rbg-pushed {background-position:-323px -64px;}
.tx-slt-42bg {background-position:-499px 0px;}
	.tx-slt-42bg-hovered {background-position:-499px -32px;}
	.tx-slt-42bg-pushed {background-position:-499px -64px;}
.tx-slt-43bg {background-position:-563px 0px; width:43px;}
	.tx-slt-43bg-hovered {background-position:-563px -32px; width:43px;}
	.tx-slt-43bg-pushed {background-position:-563px -64px; width:43px;}
.tx-slt-46bg {background-position:-943px 0px; width:46px;}
	.tx-slt-46bg-hovered {background-position:-943px -32px; width:46px;}
	.tx-slt-46bg-pushed {background-position:-943px -64px; width:46px;}
.tx-slt-46bg-center {background-position:-1191px 0px; width:46px;}
	.tx-slt-46bg-center-hovered {background-position:-1191px -32px; width:46px;}
	.tx-slt-46bg-center-pushed {background-position:-1191px -64px; width:46px;}
.tx-slt-48bg-left {background-position:-806px 0px; width:48px;}
	.tx-slt-48bg-left-hovered {background-position:-806px -32px; width:48px;}
	.tx-slt-48bg-left-pushed {background-position:-806px -64px; width:48px;}
.tx-slt-48bg-right {background-position:-854px 0px; width:49px;}
	.tx-slt-48bg-right-hovered {background-position:-854px -32px; width:49px;}
	.tx-slt-48bg-right-pushed {background-position:-854px -64px; width:49px;}
.tx-slt-49lbg {background-position:-1084px 0px; width:49px;}
	.tx-slt-49lbg-hovered {background-position:-1084px -32px; width:49px;}
	.tx-slt-49lbg-pushed {background-position:-1084px -64px; width:49px;}
.tx-slt-49rbg {background-position:-1237px 0px; width:49px;}
	.tx-slt-49rbg-hovered {background-position:-1237px -32px; width:49px;}
	.tx-slt-49rbg-pushed {background-position:-1237px -64px; width:49px;}
.tx-slt-52bg {background-position:-611px 0px; width:52px;}
	.tx-slt-52bg-hovered {background-position:-611px -32px; width:52px;}
	.tx-slt-52bg-pushed {background-position:-611px -64px; width:52px;}
.tx-slt-57bg {background-position:-668px 0px; width:57px;}
	.tx-slt-57bg-hovered {background-position:-668px -32px; width:57px;}
	.tx-slt-57bg-pushed {background-position:-668px -64px; width:57px;}
.tx-slt-58bg {background-position:-1133px 0px; width:58px;}
	.tx-slt-58bg-hovered {background-position:-1133px -32px; width:58px;}
	.tx-slt-58bg-pushed {background-position:-1133px -64px; width:58px;}
.tx-slt-59bg {background-position:-434px 0px;}
	.tx-slt-59bg-hovered {background-position:-434px -32px;}
	.tx-slt-59bg-pushed {background-position:-434px -64px;}
.tx-slt-70bg {background-position:-359px 0px;}
	.tx-slt-70bg-hovered {background-position:-359px -32px;}
	.tx-slt-70bg-pushed {background-position:-359px -64px;}
.tx-slt-71bg {background-position:-730px 0px;}
	.tx-slt-71bg-hovered {background-position:-730px -32px;}
	.tx-slt-71bg-pushed {background-position:-730px -64px;}
.tx-slt-100bg {background-position:-476px 0px;}
	.tx-slt-100bg-hovered {background-position:-476px -32px;}
	.tx-slt-100bg-pushed {background-position:-476px -64px;}
	
.tx-btn-lbg {background-position:0px 0px;}
	.tx-btn-lbg-hovered {background-position:0px -32px;}
	.tx-btn-lbg-pushed {background-position:0px -64px;}
.tx-btn-bg {background-position:-21px 0px;}
	.tx-btn-bg-hovered {background-position:-21px -32px;}
	.tx-btn-bg-pushed {background-position:-21px -64px;}
.tx-btn-rbg {background-position:-42px 0px;}
	.tx-btn-rbg-hovered {background-position:-42px -32px;}
	.tx-btn-rbg-pushed {background-position:-42px -64px;}
.tx-btn-lrbg {background-position:-68px 0px;}
	.tx-btn-lrbg-hovered {background-position:-68px -32px;}
	.tx-btn-lrbg-pushed {background-position:-68px -64px;}
.tx-btn-nlrbg {background-position:-546px 0px;}
	.tx-btn-nlrbg-hovered {background-position:-546px -32px;}
	.tx-btn-nlrbg-pushed {background-position:-546px -64px;}		

a.tx-arrow { width:10px;height:21px; }
a.tx-arrow {float:left;display:block;width:10px;height:21px;font-size:0px;line-height:0px;text-indent:-1000px;overflow:hidden;}
